body {
	padding: 5px;
	font-family: Calibri, 'MS Sans Serif', sans-serif;
	text-align: justify
}

h1 {
	text-align: center
}

body > * {
	margin-left: 25%;
	margin-right: 25%
}

h2 {
	margin-left: 20%;
	margin-right: 20%
}
h3 {
	margin-left: 22.5%;
	margin-right: 22.5%
}

a:link, a:visited {
	color: darkblue;
	font-weight: bold;
	text-decoration: none;
}

a:hover, a:focus {
	text-decoration: underline
}

cite {
	font-style: italic
}

cite:before, cite:after {
	content: '"'
}

blockquote {
	padding: 5px;
	background-color: lightgray
}

blockquote:first-letter {
	font-size: 120%
}

img {
	padding: 5px;
	margin: 5px;
	border: solid gray 2px;
	text-align: center;
	display: block;
	max-width: 50%
}
