* {
	margin: 0;
	padding: 0;
}

body {
	padding: 0px;
	font-family: Tahoma,
             "DejaVu Sans",
             sans-serif;
        background-color: #53B7DF;
}

.content {
	background-color: white;
	color: #1F1F1F;
	width: 1024px;
	max-width: 90%;
	margin: 15px auto 3px auto;
	padding: 3% 1.5%;
	-moz-box-shadow: 50px 50px 5px #ccc;
	-webkit-box-shadow: 0px 0px 5px #ccc;
	box-shadow: 0px 0px 60px #fff;
	

}

h1 {
	color: #070707;
}

h2,h3,h4,h5,h6,h7 {
	color: #222;
	margin-top: 15px;
}

h2 {
	border-bottom: solid 1px black;
	width: 40%;
	font-weight: 400;
}

h3 {
	font-style: oblique;
	font-weight: 700;
}

a:link, a:visited {
	color: #1F647F;
	font-weight: bold;
	text-decoration: none;
}

a:hover, a:focus {
	text-decoration: underline;
	color: #2B89AF;
}

cite {
	font-style: italic
}

cite:before, cite:after {
	content: '"'
}

blockquote {
	padding: 10px;
	background-color: white;
	margin: 8px 0 8px 5%;
	width: 70%;
	-moz-box-shadow:inset 0 0 10px #aaa;
	-webkit-box-shadow:inset 0 0 10px #aaa;
	box-shadow:inset 0 0 10px #aaa;

}

blockquote:first-letter {
	font-size: 120%
}

img {
	padding: 5px;
	margin: 5px;
	border: solid gray 2px;
	text-align: center;
	display: block;
	max-width: 50%
}

code {
	background-color: lightgray;
	padding: 2.5px;
	margin: 2.5px
}

ul,ol {
	margin-left: 3%;
}

ol {
	font-style: italic;
	font-weight: bold;
}

ol li {
	font-style: normal;
	font-weight: normal;
}

